/*Páginas Centro Ayuda*/
#almacenes .nav-pills>li>a, #preguntas-frecuentes .nav-pills, #contacto-ca .nav-pills,>li>a >li>a  {border-radius: 0; padding-left: 0; padding-right: 0; }
#centrodeayuda {padding-right: 0; margin-left: 10px; }
#preguntas-frecuentes .panel-heading .panel-title a {display: block; padding: 15px 10px;}
#preguntas-frecuentes .panel-heading {padding: 0;}
.centro-ayuda-icon {font-size: 62px;} 
.ciudades-principales, .otros-destinos {max-height: 200px; overflow: scroll; min-height: 0; margin: 10px 0; }
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {border-bottom: 1px solid orange; }
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {border-bottom: 1px solid orange; }
/*Almacenes JSON*/
#carulla .divAlmacen .pFormato { background-color: #8DC63F; padding: 3px 0; }
#carulla .divAlmacen > p { margin: 0; }
#carulla .divAlmacen h4 { background-color: #8DC63F;  max-width: 235px; }
#carulla .divAlmacen { min-height: 70px; margin: 14px 13px; padding-bottom: 23px; width: 252px; }
#carulla .etiqueta { line-height:2.3em;  margin: 0 2% 0 0; }
#carulla .flsForm { margin: auto; width: 80%; } .flsForm legend {font-size: 1.5em; font-weight: bold; line-height: 1.25em; width: auto; }
#carulla h2 { color: #8DC63F; }
#carulla.divContent { background-color: transparent; font-size: 14px; min-height: inherit; }
.col03:first-child { margin-left:0%}
.col03:last-child { margin-right:0%}
.col03{ float:left; margin-left:1%; margin-right:1%; position:relative; width:31.5%;}
.control select { margin: 0; width:100%; }
.divAlmacen .pFormato { margin:0; background-color: #000; border-bottom-left-radius:5px; border-bottom-right-radius:5px; color:#fff; line-height:1.3em; position:absolute; left:0px; bottom:0px; text-align:center; width:100%; }
.divAlmacen h4 { background-color:#DC1013; color:#fff; border-radius:8px; font-size:1em; font-weight:bold; line-height:1.3em; margin: 0; max-width: 193px; padding:2px 7px; overflow: hidden; position:absolute; left:7px; top:-10px; text-overflow: ellipsis; white-space: nowrap; }
.divAlmacen p { line-height:1.3em; font-size:0.9em; }
.divAlmacen {background: #fff; border: 1px solid #ddd; border-radius: 5px; height: 220px; margin: 14px 0; padding: 16px 5px 20px 5px; }
.divContent h2 { color: #000; font-size:1.75em; font-weight:bold; line-height:1.5em; }
.divDepartamento h2 { line-height:1.75em; }
.divImeganTitulo h1 {font-size: 45px; color: #dc1013; margin: 0; }
.divImeganTitulo p {text-align: left; font-size: 16px; margin: 0; }
.divImeganTitulo {background-color: #fef400; border-radius: 7px; margin-bottom: 10px; padding: 20px; }
.divMensaje h2 { font-size:1.3em; line-height:1.5em; }
.divMensaje h3 { font-size:1.2em; line-height:1.5em; }
.divMensaje { margin:15px auto; width:100%; overflow:hidden; text-align:center; }
.divMunicipio h3 { color: #666; font-size:1.25em; font-weight:bold; line-height:1.5em; }
.etiqueta { line-height:1.6em; }
.fil01{ width:100%; overflow:hidden;}
.flsForm .filter {margin-bottom: 10px;}
.flsForm { border: 1px solid #ddd; border-radius:8px; margin-bottom: 1em; padding:0px 5px 10px 5px; }